/* FORMATS */
html,body {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
  {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

blockquote,q {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  quotes: "" ""
  vertical-align: baseline;
}

blockquote:before,q:before,blockquote:after,q:after {
  content: ""
}

th,td,caption {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  vertical-align: middle
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  vertical-align: middle
}

a {
  color: inherit
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

ul {
  list-style: none
}

body * {
    font-family: 'Open Sans', arial;
    outline: 0;
}

/* END FORMATS */








.out-container {
  /*background: url("images/background.png") repeat scroll 0 0 #dbf3f4;*/
  /*height: 1200px;*/
}

.out-container .header {

}

.out-container .header .top {
  min-height: 70px;
}

.out-container .header .top .in {
  margin: 10px auto 0 auto;
  position: relative;
  width: 980px;
  z-index: 5;
}

.out-container .header .top .in .right_menu {
  border-bottom: 1px solid #F3F4F4;
  float: right;
  padding: 0;
  text-align: right;
  list-style: none outside none;
}

.out-container .header .top .in .right_menu li.menu {
  float: left;
  display: inline;
  margin: 0 15px 0 0;
  padding: 0 10px 0 0;
}

.out-container .header .top .in .right_menu li.menu a.uno,
.out-container .header .top .in .right_menu li.menu a.dos,
.out-container .header .top .in .right_menu li.menu a.tres,
.out-container .header .top .in .right_menu li.menu a.cuatro {
  color: #767676;
  font-size: 11px;
  line-height: 24px;
  float: left;
  text-decoration: none;
}

.out-container .header .top .in .right_menu li.menu a.uno:hover,
.out-container .header .top .in .right_menu li.menu a.dos:hover,
.out-container .header .top .in .right_menu li.menu a.tres:hover,
.out-container .header .top .in .right_menu li.menu a.cuatro:hover {
  text-decoration: underline;
}

.out-container .header .top .in .right_menu li.uno,
.out-container .header .top .in .right_menu li.dos,
.out-container .header .top .in .right_menu li.tres,
.out-container .header .top .in .right_menu li.cuatro {

}


.out-container .header .top .in .bottom_menu {
  clear: both;
  width: 980px;
  min-height: 47px;
  /*padding-top: 14px;*/
}

.out-container .header .top .in .bottom_menu .logo {
  float: left;
  /*height: 30px;*/
  margin: 0;
  /*width: 160px;*/
}
.out-container .header .top .in .bottom_menu .logo a {
  color: #414B55;
  text-decoration: none;
}
.out-container .header .top .in .bottom_menu .logo a img {
  border: medium none;
  margin: -15px 0 0 0;
}


.out-container .header .top .in .bottom_menu .menu_principal {
  float: right;
  padding: 5px 0 0 0;
  color: #444444;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
}

.out-container .header .top .in .bottom_menu .menu_principal li{
  display: inline;
  float: left;
  padding: 0 0 15px 0;
  position: relative;
}

.out-container .header .top .in .bottom_menu .menu_principal li a {
  /*font-weight: bold;*/
  font-size: 15px;
  line-height: 27px;
  margin: 0 0 0 35px;
  text-decoration: none;
  color: #444444;

}

.out-container .header .top .in .bottom_menu .menu_principal li a:hover {
  text-decoration: underline;
  color: #000000;
  /*font-weight: bold;*/
}

.out-container .header .bottom {
  background: none repeat scroll 0 0 #F5F5F5;
  border-bottom: 1px solid #c3ecfb;
  border-top: 1px solid #c3ecfb;
  min-height: 60px;
  width: 100%;
}

.out-container .header .bottom .in {
  margin: 0 auto 0 auto;
  position: relative;
  width: 980px;

}

.out-container .header .bottom .in h1{
  font-size: 25px;
  /*font-weight: 300;*/
  letter-spacing: 3px;
  margin: 0;
  padding: 12px 0 10px 0;


}

.out-container .header .bottom .in .login,
.out-container .header .bottom .in .logout {
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;

}

.out-container .header .bottom .in .login h3,
.out-container .header .bottom .in .logout h3,
{
  font-weight: 300px;

}

.out-container .header .bottom .in .login a{
  background: none repeat scroll 0 0 #D82133;
    box-shadow: 0 1px 4px #A9A7A7;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    text-decoration: none;
}

.out-container .header .bottom .in .logout a{
  background: none repeat scroll 0 0 #428BCA;
    box-shadow: 0 1px 4px #A9A7A7;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    text-decoration: none;
}

.out-container .header .bottom .in .login a:hover,
.out-container .header .bottom .in .logout a:hover
{
    text-decoration: underline;
}








































.content {
    min-height: 620px;
}

.content .left {
  border-right: 1px dotted #DDDDDD;
  float: left;
  min-height: 330px;
  /*padding: 5px 0 0 0;*/
  width: 100%;
}

.content #right {
  float: left;
  padding: 0 30px 0 30px;
  width: 100%;
  /*width: 725px;*/
}

.content #right .boxes {
  float: left;
  margin: 30px 0 20px 0;
  width: 725px;
}

.content #right .boxes .box {
  background-color: #FFFFFF;
    border-color: #F2F2F2 #F2F2F2 #E2E2E2;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 20px 10px 10px 0;
    min-height: 103px;
    padding: 12px;
    width: 325px;
}

.content #right .boxes .box:hover {
  background-color: #c3ecfb;
  cursor: pointer;
}

.content #right .boxes .box a {
  text-decoration: none;
}

.content #right .boxes .box a img {
  float: left;
  height: 37px;
  margin: 0 10px 60px 0;
  width: 64px;
}

.content #right .boxes .box a .h3 {
  font-size: 22px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 28px;
    padding-bottom: 4px;
    text-align: left;
    color: #444444;
}

.content #right .boxes .box a .p {
    color: #777777;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
    text-align: left;
}
.footer {
    /*height: 30px;*/
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    color: #444444;
    /*background-color: #F3A35C;*/
    /*border-top: 2px solid #a49990;*/
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    height: 320px;

}

.footer span {
    margin: 3px 0 0 0;
    font-size: 14px;
}

.footer span a {
  text-decoration: none;
  color: #444444;

}

.footer span a:hover {
  text-decoration: underline;
}








