

#remitos #right form.header_remito {
    float: left;
    height: 280px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    margin: 20px 0 0 0;
}

#remitos #right #ocultar_header:hover,
#remitos #right #mostrar_header:hover
{
    cursor: pointer;
}

#remitos #right .title {
    font-size: 16px;
    font-weight: bold;
}

#remitos #right #observaciones {
	height: 103px;
}

#remitos #right .items {
	height: 120px;
	width: 100%;
	background-color: #eafaff;
	border-radius: 5px;
	padding: 20px 0 0 0;
	/*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));*/
}

#remitos #right #agregar {
	float: right;
	height: 34px;
	margin: 10px 0 0 0;
	width: 160px;
}







